<?xml version="1.0"?>
<model>
  <name>standard_vtol_mono_cam_down</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Development Team</name>
    <email>dev@px4.io</email>
  </author>
  <description>Standard VTOL with a downward-facing monocular camera.</description>
</model>
